
/*#burger{color: orange}*/

/*#onions{color: green}*/

/*#fries{color: red}*/

/*.strawberry{background-color: red}*/

/*.Blueberry{background-color: blue}*/

/*p{background-color: blue;*/
/*padding:10px;*/
/*margin: 20px;*/
/*border-style: ridge;*/
/*border-color: red;*/
/*border-width: 10px;*/
/*!*border: groove 10px yellow*!}*/

/**{ margin: 0;*/
/*padding: 0;*/
/*}*/

/*li a {color: green}*/
/*body{color: green}*/

/*ul{color: purple}*/

.company{color: green !important;}

.company{color: red}